<%-include("partials/header.ejs") %>
    <h1>Current Weather status </h1>
    <div id="weather-info">
        <p>Fethcing Weather info.....</p>
    </div>

    <!-- The joke section -->
    <section>  
    <div id="joke">
        
    </div>
    <div class="joke-button">
        <button id="show-joke">Show the joke</button>
        <button id="next-joke">Next Joke</button>
    </div>
 
    </section>
<script src="JS/client-weather.js"></script>
</body>
</html>