#weather-info, .joke-button{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
}
.weather-row{
    display: flex;
    align-items: center;
    gap: 10px;
    color: red;
}
h1{
    text-align: center;
    margin: 0;
}
#joke{
    text-align: center;
}
.first-joke{
    font-size: 2rem;
}